
.custom-navbar {
    background-image: url('./LocalIMG/Logo2.gif');
    background-color: rgb(1, 31, 91);
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
  }